#!/usr/bin/env bash

# XXX: Change this before use
WHITELIST_IPADDRESSES=(
    0.0.0.0
)
MAKE_KPKG_OPTIONS=-j1

# If it will be installed to 1, bisect-tester will skip commits, if we
# can't login to this kernel using ssh (it means that we have some
# internal error, since not always it is unbootable kernel, it could be
# something with network, and if you wan't to test particular subsystem
# (except obviously network) you could use this).
BISECT_TESTER_SKIP_UNAVAILABLE=1
# Skip uncompilable revisions, useful if you wan't to debug a lot of commits,
# while some of them can be uncompilable, and you are not interesting in this,
# you are interesting in particular subsystem.
BISECT_TESTER_SKIP_UNCOMPILABLE=1
